body {
  text-align: center;
  font-family: "Nunito", sans-serif;
  color: #0c1646;
}

h2 {
  font-size: 2em;
  margin: 52px 0 40px;
  text-transform: capitalize;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

.is--hidden {
  display: none;
}

.not-found {
  list-style: none;
}

.search-form {
  max-width: 460px;
  display: flex;
  margin: 0 auto 32px;
}

.search-form button {
  outline: none;
  background-color: #2c4eff;
  border: none;
  padding: 0px 15px;
  border-radius: 0 0.35em 0.35em 0;
  cursor: pointer;
  box-shadow: 5px 5px rgba(44, 78, 255, 0.701),
    10px 10px rgba(167, 25, 255, 0.2), 15px 15px rgba(76, 12, 116, 0.1);
}

input {
  font-size: 1em;
  width: 100%;
  background-color: #d5ecfc;
  padding: 10px 15px;
  border: 3px solid #2c4eff;
  border-right: none;
  border-radius: 0.35em 0 0 0.35em;
  outline: none;
  box-shadow: 5px 5px rgba(44, 78, 255, 0.701),
    10px 10px rgba(167, 25, 255, 0.2), 15px 15px rgba(76, 12, 116, 0.1);
}

input:hover {
  background-color: #f6fcd5;
}

.main-nav li {
  width: 100%;
  margin-bottom: 1em;
}

.main-nav a {
  display: block;
  text-transform: capitalize;
  background: #a719ff;
  border-radius: 3px;
  padding: 5px;
  color: #fef9f9;
}

.main-nav .active,
.main-nav a:hover,
.search-form button:hover {
  background-color: #4c0c74;
}

.photo-container ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  -ms-align-items: flex-start;
  align-items: flex-start;
}

.photo-container ul li {
  width: 220px;
  height: 165px;
  overflow: hidden;
  margin-bottom: 15px;
  border-radius: 0.35em;
  box-shadow: 5px 5px rgba(44, 78, 255, 0.701),
    10px 10px rgba(167, 25, 255, 0.2), 15px 15px rgba(76, 12, 116, 0.1);
}

.photo-container ul img {
  width: 100%;
  transform: scale(1.25);
  transition: transform 1.25s;
}

.photo-container li:hover img {
  transform: scale(1.65);
}

.photo-container .not-found {
  width: 100%;
}

.not-found p {
  color: #4c0c74;
}

.icon-gif {
  font-size: 4em;
  color: #4c0c74;
}

@media only screen and (max-width: 767px) {
  body {
    padding-top: 2em;
  }

  .photo-container li {
    margin: auto;
  }
}

@media only screen and (min-width: 768px) {
  body {
    padding-top: 4em;
  }

  .container {
    max-width: 960px;
    margin: auto;
  }

  .main-nav ul {
    display: flex;
    justify-content: center;
  }

  .main-nav li {
    margin: 10px;
    width: 100px;
  }
}
